@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-widyh-ms: 90%;
}

::-webkit-input-placeholder {
    color: #d1d1d1;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

:-moz-placeholder {
    color: #d1d1d1;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

::-moz-placeholder {
    color: #d1d1d1;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

:-ms-input-placeholder {
    color: #d1d1d1;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

*:focus::-webkit-input-placeholder {
    opacity: 0;
}

*:focus:-moz-placeholder {
    opacity: 0;
}

*:focus::-moz-placeholder {
    opacity: 0;
}

*:focus:-ms-input-placeholder {
    opacity: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    font-size: 16px;
    background-image: url(../src/assets/bg-texture.png);
}

small {
    font-size: 95%;
}

/* ================ Genral Style ================ */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

/* ================ Media Queries ( Large Devices ) ================ */
@media screen and (min-width: 1117px) {
    section {
        height: 100%;
        min-height: 100vh;
    }
}

section > h2,
section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover,
a:focus {
    color: var(--color-white);
}

.btn {
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    line-height: 1.4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-bg-variant);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================ Media Queries ( Medium Devices ) ================ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* ================ Media Queries ( Small Devices ) ================ */
@media screen and (max-width: 600px) {
    section {        
        height: 100%;
    }

    section > h2 {
        margin-bottom: 2rem;
    }

    .container {
        width: var(--container-width-sm);
        padding: 0 1rem;
    }
}
